.page{
    margin: 20px auto;
}
.page h1{
    text-align: center;
    padding: 20px;
    background-color: #E91E63;
    border-radius: 6px;
    font-weight: bold;
    color: #FFF;
    width: 50%;
    margin-right:auto ;
    margin-left:auto ;
    
}
.page h3{
    text-align: center;
    background-color: #eee;
    padding: 10px;
    
    border-radius: 6px;
    color: #000;
    width: 30%;
    margin: 0 auto 40px;
    border: 1px solid black;

}
.page .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.page .container .photo{
    width: 40%;
    
}
.page .container .photo img{
    width: 100%;
    height: 625px;
    
}
.page .container .content{
    width: 40%;
    line-height: 3;
    font-weight: bold;
    font-size: 22px;
    background-color: #eee;
    border-radius: 10px;
    height: 700px;
    text-align: right;
    padding: 10px;
    border: 1px solid #000;
}
.page .container .content div{
    margin-bottom: 50px;

}

