.page{
    margin: 20px auto;
}
.page h1{
    text-align: center;
    padding: 20px;
    background-color: #E91E63;
    border-radius: 6px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 0;
}
.page h3{
    text-align: center;
    background-color: #ff9800;
    padding: 10px;
    margin-top: 0;
    border-radius: 6px;
    color: #fff;

}
.page .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.page .container .photo{
    width: 40%;
}
.page .container .content{
    width: 40%;
    line-height: 3;
    font-weight: bold;
    font-size: 22px;
    background-color: #eee;
    border-radius: 10px;
    height: 700px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ff9800;
}
.page .container .content div{
    margin-bottom: 50px;

}

